[data-chisel-inline-cluster] {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, 0px);
    justify-content: var(--justify, "flex-start");
    align-items: var(--align, "flex-start");
}

[data-chisel-inline-cluster] > * {
    margin: 0;
}